@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-size: 1.5em;
  text-align: center;
  background: linear-gradient(to right, #4f07c2, #982ca1a8);
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
